.App {
  /* text-align: center; */
  
}
.input{
  text-align: center;
}
.input button{
  background-color: red;
}
ul{
  list-style-position: inside;
  list-style-type: upper-roman;
  text-align: center;
}
li{
  
  color: red;
}

